body {
    background-image: url("background.jpg");
    background-size: 100% 200%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div {
    width: 17vw;
    padding: 20px;
    text-align: center;
    margin: 15px;
    margin-left: 20vw;
    font-size: 16px;
    border: 1px solid #ddd; 
    background-color: #fff;

    & img{
        width: 10vw; 
    }

    & a{
        display: block;
        margin-top: 10px;
        padding: 5px 10px;
        background-color: rgb(255, 97, 97);
        color: white;
        border: 1px solid #000000;
        border-radius: 5px;
        text-decoration: none;
    }    
}

form{
    max-width: 400px;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;

    & label{
        display: block;
        margin-bottom: 10px;
    }

    & input{
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    & input[type="submit"] {
        background-color: rgb(255, 97, 97);
        color: white;
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        width: 100%;
    }
}