body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.cancion {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
}

.cancion img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

form {
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4caf50;
    font-size: 1.05em;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.enlace-volver {
    background-color: #4caf50;
    position: absolute;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    top: 50px;
    left: 70px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.enlace-volver:hover {
    background-color: #45a049;
}