body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 50px;
}

h1 {
    color: #333;
    padding-bottom: 20px;
}

.forms-container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
}
  
#iniciar-form,
#registrar-form {
    flex: 1;
    margin: 0 20px;
}

#iniciar-form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;

    & label{
        display: block;
        margin-bottom: 10px;
        color: #555;
    }

    & input[type="text"], input[type="password"]{
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    & input[type="submit"]{
        background-color: #4caf50;
        color: white;
        border: 1px solid #4caf50;
        border-radius: 4px;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 16px;
    }

    & input[type="submit"]:hover{
        background-color: #45a049;
    }

    & input[name="registrar"]{
        background-color: #2196f3;
        border: 1px solid #2196f3;
    }

    & input[name="registrar"]:hover{
        background-color: #0b7dda;
    }
}

#registrar-form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;

    & label{
        display: block;
        margin-bottom: 10px;
        color: #555;
    }

    & input[type="text"], input[type="password"], input[type="email"]{
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    & input[type="submit"]{
        background-color: #4caf50;
        color: white;
        border: 1px solid #4caf50;
        border-radius: 4px;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 16px;
    }

    & input[type="submit"]:hover{
        background-color: #45a049;
    }

    & input[name="registrar"]{
        background-color: #2196f3;
        border: 1px solid #2196f3;
    }

    & input[name="registrar"]:hover{
        background-color: #0b7dda;
    }
}